<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SMOneViewController</string>
		<key>navigationItemTitle</key>
		<string>ONE</string>
		<key>tabBarItemTitle</key>
		<string>首页</string>
		<key>tabBarItemNormalImageName</key>
		<string>home_nor</string>
		<key>tabBarItemSelectedImageName</key>
		<string>home_sel</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SMTwoViewController</string>
		<key>navigationItemTitle</key>
		<string>TWO</string>
		<key>tabBarItemTitle</key>
		<string>发现</string>
		<key>tabBarItemNormalImageName</key>
		<string>discover_nor</string>
		<key>tabBarItemSelectedImageName</key>
		<string>discover_sel</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SMThreeViewController</string>
		<key>navigationItemTitle</key>
		<string>THREE</string>
		<key>tabBarItemTitle</key>
		<string>新闻</string>
		<key>tabBarItemNormalImageName</key>
		<string>new_nor</string>
		<key>tabBarItemSelectedImageName</key>
		<string>new_sel</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SMFourViewController</string>
		<key>navigationItemTitle</key>
		<string>FOUR</string>
		<key>tabBarItemTitle</key>
		<string>乐趣</string>
		<key>tabBarItemNormalImageName</key>
		<string>joy_nor</string>
		<key>tabBarItemSelectedImageName</key>
		<string>joy_sel</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SMFiveViewController</string>
		<key>navigationItemTitle</key>
		<string>FIVE</string>
		<key>tabBarItemTitle</key>
		<string>我的</string>
		<key>tabBarItemNormalImageName</key>
		<string>mine_nor</string>
		<key>tabBarItemSelectedImageName</key>
		<string>mine_sel</string>
	</dict>
</array>
</plist>
